<%= render 'books/bubun' user: @user %>


<div class="col-md-8 offset-md-1">
  		<h2>Book detail</h2>
  		<table class="table">
  		  <tbody><tr>
          <td><a href="/users/37443">
            <img class="attachment user profile_image fallback" src="/assets/no-image-icon-d3f9e11cb2bb284b42e0810f94b03c50126f51f482ea43054b87c2b7ebaa01d5.jpg"><br>
            aaa
</a>          </td>
          <td><a href="/books/30739">aaa</a></td>
          <td>aaa</td>
            <td><a class="btn btn-sm btn-success edit_book_30739" href="/books/30739/edit">Edit</a></td>
            <td><a data-confirm="本当に消しますか？" class="btn btn-sm btn-danger destroy_book_30739" rel="nofollow" data-method="delete" href="/books/30739">Destroy</a></td>
        </tr>
      </tbody></table>
    </div>